html,body{
    background-image: url("https://images2.alphacoders.com/106/1065604.png");
    background-repeat: no-repeat;
    background-size: cover;
}
#Area{
    display: flex;
    justify-content: center;
}
#gameArea{
    border: solid black;
}
#contener-btn{
    display: flex;
    justify-content: center;
}
.key{
    height: 70px;
    width: 70px;
    border-radius: 100%;
    border: solid black;
    margin: 15px;
}
#a{
    background: #108fe8;
    border: 3px solid #fff;
    border-radius: 100%;
    box-shadow: 0 -2px 0 3px #0d72b8 inset, 0 5px 5px rgba(3, 25, 41, 0.17), 0 15px rgba(255, 255, 255, 0.25) inset;
    cursor: pointer;
    display: inline-block;
}

.keypressed{
    background: #333;
    box-shadow: 0 -2px 0 3px #1a1a1a inset, 0 5px 5px rgba(0, 0, 0, 0.17), 0 15px rgba(255, 255, 255, 0.32) inset;
}

#z{
    background: #e53030;
    border: 3px solid #fff;
    border-radius: 100%;
    box-shadow: 0 -2px 0 3px #c91919 inset, 0 5px 5px rgba(65, 8, 8, 0.17), 0 15px rgba(255, 255, 255, 0.25) inset;
    cursor: pointer;
    display: inline-block;
}
#e{
    background: #9B2BFF;
    border: 3px solid #fff;
    border-radius: 100%;
    box-shadow: 0 -2px 0 3px #9B2BFF inset, 0 5px 5px rgba(0, 7, 1, 0.17), 0 15px rgba(255, 255, 255, 0.25) inset;
    cursor: pointer;
    display: inline-block;
}
#r{
    background: #0ec518;
    border: 3px solid #fff;
    border-radius: 100%;
    box-shadow: 0 -2px 0 3px #0b9512 inset, 0 5px 5px rgba(0, 7, 1, 0.17), 0 15px rgba(255, 255, 255, 0.25) inset;
    cursor: pointer;
    display: inline-block;
}
#t{
    background: #FFAF0E;
    border: 3px solid #fff;
    border-radius: 100%;
    box-shadow: 0 -2px 0 3px #FFAF0E inset, 0 5px 5px rgba(0, 7, 1, 0.17), 0 15px rgba(255, 255, 255, 0.25) inset;
    cursor: pointer;
    display: inline-block;
}

#y{
    background: #ffe134;
    border: 3px solid #fff;
    border-radius: 100%;
    box-shadow: 0 -2px 0 3px #ffd501 inset, 0 5px 5px rgba(103, 73, 0, 0.17), 0 15px rgba(255, 255, 255, 0.25) inset;
    cursor: pointer;
    display: inline-block;
}

#score{
    display: flex;
    text-align: center;
    background-color: #333;
    height: 100px;
    width: 190px;
}

#timer{
    color: #2e8df0;
    font-family: avenir, sans-serif;
    padding: 0;
    text-align: center;
    font-size: 4em;
    background-color: rgb(110, 108, 149);
    width: 136px;
    height: 78px;
}
.default{
    display: flex;
    justify-content: flex-end;
}
.default h1{
    font-family: avenir, sans-serif;
}
.test{
    display:flex;
    justify-content: space-between;
}
#audio{
    display: none;
}
#center-menu{
    display: flex;
    justify-content: center;
    height: 200px;
}
#title{
    font-size: 70px;
    color: #FDFEFE;
}
#menu{
    display: flex;
    justify-content: space-around
}
#facile{
    background-color: #333;
    color: #0d72b8;
    font-size: 20px;
    width: 160px;
    height: 70px;
    border: none;
    border-radius: 5%;
    border: 1px solid #0FE3E3;
    box-shadow: 5px 5px 5px #1a1a1a;
}

#moyen{
    background-color: #333;
    color: #0d72b8;
    width: 160px;
    height: 70px;
    border: none;
    border-radius: 5%;
    border: 1px solid #0FE3E3;
    font-size: 20px;
    box-shadow: 5px 5px 5px #1a1a1a;
}

#hardcore{
    background-color: #333;
    color: #0d72b8;
    font-size: 20px;
    width: 160px;
    height: 70px;
    border: 1px solid #0FE3E3;
    border-radius: 5%;
    box-shadow: 5px 5px 5px #1a1a1a;
}

#facile:hover{
    background-color: #14639b;
    color: #333;
}

#hardcore:hover{
    background-color: #14639b;
    color: #333;
}

#moyen:hover{
    background-color: #14639b;
    color: #333;
}
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}